.login {
  width: 100%;
  margin: 0 auto;
}

.loginRow1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  align-items: center;
  display: inline-flex;
}
.loginCol1 {
  width: 30%;
  margin: 0 auto;
}
.loginCol2 {
  width: 30%;
  margin: 0 auto;
}
.login-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form-group input {
  width: 100%;
  padding: 10px 0px 10px 0px;
}
@media only screen and (max-width: 600px) {
  .loginRow1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 14%;
    display: unset;
  }
  .loginCol1 {
    width: 90%;
  }
  .loginCol2 {
    width: 90%;
  }
  .login-form {
    max-width: 100%;
  }
}
