.login {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}

.loginRow1 {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.loginRow1 > div {
}
.loginCol1 {
  width: 40%;
  margin: 0 auto;
  border: 1px solid silver;
  align-items: center;
  display: grid;
  /* background-image: linear-gradient(
    rgb(247, 182, 182),
    rgb(247, 247, 214),
    rgb(215, 247, 215)
  ); */
  background: linear-gradient(180deg, #d4d5d6, rgba(252, 252, 252, 0));
  box-shadow: #d4d5d6 20px 20px 20px 10px;
  border-top-left-radius: 70px 70px;
  border-bottom-right-radius: 70px 70px;
  opacity: 0.8;
}
.loginCol2 {
  width: 30%;
  margin: 0 auto;
  display: grid;
}
.login-form {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form-group input {
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.avatar {
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .loginRow1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 14%;
    display: unset;
  }
  .loginCol1 {
    width: 90%;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
    box-shadow: unset;
  }
  .loginCol2 {
    width: 90%;
  }
  .login-form {
    max-width: 100%;
  }
}
