.login {
  width: 100%;
  margin: 0 auto;
}

.loginRow1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  align-items: center;
  display: inline-flex;
}
.loginCol1 {
  width: 30%;
  margin: 0 auto;
}
.loginCol2 {
  width: 30%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .loginRow1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 14%;
    display: unset;
  }
  .loginCol1 {
    width: 90%;
  }
  .loginCol2 {
    width: 90%;
  }
}
