.Home {
  width: 100%;
  margin: 0 auto;
}
.Heading2 {
  font-weight: bold;
  float: left;
  margin-left: 2%;
}
.data {
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  font-size: 13px;
}
.data > ul > li {
  margin: 0 auto;
  list-style: symbols(red);
}
.CompanyName {
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  font-size: 13px;
}
.DateRange {
  margin-right: 3%;
  float: right;
  font-size: 13px;
}
.ProfilePic {
  width: 90%;
  height: 120px;
  border-radius: 10px;
  border: 2px solid rgb(244, 242, 242);
  padding: 3%;
  box-shadow: 5px 5px 5px rgb(117, 190, 236) inset;
  transform: rotateY(180deg);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  /*transition: transform 0.7s;*/
}
.styled-image:hover {
  transform: scale(1.05);
}

.ProfilePic:hover {
  transform: scale(1.05);
  /*transform: rotateY(4deg);
  transform: scale(2.5);
   z-index: 1;
    position: absolute;
  width: 20%;
  height: 30%;
  padding: 10px;
  box-shadow: 15px 15px 15px rgb(117, 190, 236) inset;*/
}
.Heading {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.sideBarContent {
  margin-left: 3;
  color: white;
}
.sideBarContentInner {
  margin-left: 7%;
  margin-top: 3%;
}
.sideBarContent > ul > li {
  list-style: disc;
}
.tabSideBar {
  margin: 0 auto;
  width: 70%;
  margin-left: 16%;
}
.tabSideBar > tr > td {
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
}
.nameCss {
  font-weight: bold;
  font-size: 24px;
  word-spacing: 3px;
  letter-spacing: 1px;
  color: #485653;
  margin-left: 2%;
  padding: 3px;
  text-shadow: 1px 1px 2px rgb(12, 12, 80);
  cursor: grab;
}
.nameCss:hover {
  transform: rotateY(10deg);
  transform: rotateX(10deg);
}
.horizontalBar {
  height: 4px;
  background-color: #0e6655;
  margin-bottom: 3%;
}
.tableContent {
  width: 100%;
  border: 1px solid rgb(227, 224, 224);
}
.tableContent > tr > td {
  width: 100%;
}
.column1 {
  float: left;
  width: 30%;
}
.column2 {
  float: left;
  width: 70%;
  background-color: white;
}
.row {
  box-shadow: 4px 4px rgb(217, 240, 247);
  background-color: #485653;
  width: 70%;
  margin: 0 auto;
  border-top: 5px solid brown;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .ProfilePic {
    width: 100%;
  }
  .ProfilePic:hover {
    box-shadow: 15px 15px 15px rgb(117, 190, 236) inset;
  }
  .tabSideBar {
    margin: 0 auto;
    width: 100%;
  }
  .row {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .ProfilePic {
    width: unset;
  }
  .tabSideBar {
    margin-left: unset;
  }
}
