.Contact {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  margin-top: 3%;
}
.Contact-col-1 {
  width: 50%;
  margin: 0 auto;
}
.Contact-col-2 {
  width: 50%;
  margin: 0 auto;
}
.Contact-col-1-data {
  width: 80%;
  margin: 0 auto;
}
.ContactCard {
  margin-bottom: 13px;
}
@media screen and (max-width: 600px) {
  .Contact-col-1 {
    width: 100%;
  }
  .Contact-col-2 {
    width: 100%;
  }
  .Contact {
    display: unset;
  }
}
